<footer class="footer">
  <div class="footer-copyright">
    Ce website a été concocté avec <i class="fas fa-heart"></i>
    par votre équipe favorite ! <i class="fa-solid fa-rocket"></i>
  </div>
</footer>
