<footer class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright" data-controller="position">
    <p data-position-target="lat"></p>
    <p data-position-target="long"></p>
    This footer is made with <i class="fas fa-heart"></i>
    by your favorite team <i class="fa-solid fa-rocket"></i>
  </div>
</footer>
