.form-submit {
  width: 80px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding-right: 40px !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn {
  border-radius: 50px;
  background-color: $blue !important;
  border: none;

}

.form-field, .form-submit {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  &:hover {
    background-color: $light-purple;
  }
  input {
    border: none;
    width: 100px
  }
}

.form-first {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding-left: 40px !important;
  select {
    border: none;

  }
}

.form-control, .form-select {
  background-color: white;
  border: none;
}

select, input {
  margin-bottom: 0 !important;
  &:hover {
    background-color: $light-purple;
  }
}

.booking-form {
  border-radius: $border-radius-lg;
  box-shadow: $box-shadow;
  padding: 16px;
  height: 100%;
}
