.fa-solid.fa-circle-chevron-right {
  color: $blue;
}

.fa-solid.fa-circle{
  font-size: 8px;
  vertical-align: middle;
}

.fa-solid.fa-rocket{
  color: $blue;
}

.fab:hover{
  color: $blue;
}

.fa-solid.fa-screwdriver-wrench{
  color: $blue;
  background-color: $yellow;
  border-radius: 50%;
  padding: 4px;
}

.fa-solid.fa-star{
  color: $yellow;
  font-size: 12px;
  letter-spacing: -0.3em;
}

.fa-solid.fa-location-dot, .fa-solid.fa-tag, .fa-solid.fa-wrench{
  color: $blue;
  font-size: 1em;
  margin-right: 0.5em;
}
