.fa-solid.fa-circle-chevron-right {
  color: $blue;
}

.fa-solid.fa-circle{
  font-size: 8px;
  vertical-align: middle;
}

.fa-solid.fa-rocket{
  color: $blue;
}

.fab:hover{
  color: $blue;
}

.fa-solid.fa-screwdriver-wrench{
  color: $blue;
  background-color: $yellow;
  border-radius: 50%;
  padding: 4px;
}
