/* styles.css */
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  flex-direction: vertical;
  gap: 24px;
  height: 400px;
}

.image-cover {
  display: grid;
  gap: 10px;
  height: 400px;
}

.image-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Optional: Maintain aspect ratio */
}

.image-item {
  width: 100%;
  height: auto;
  overflow: hidden; /* Optional: Crop images if needed */
  box-shadow: $box-shadow;
  border-radius: $border-radius-lg;
}


.image-item img {
  // width: 100%;
  height: 100%;
  object-fit: cover; /* Optional: Maintain aspect ratio */
}
