.mapboxgl-popup {
  max-width: 100px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.sticky-element{
  position: sticky;
  top: 1px;
  height: 600px;
}
